.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  padding: 1% 5%;
}

.mainContainer {
  color: white;
  height: 50vh;
}

.mainContent {
  padding-top: 5vh;
  padding-left: 7vh;
}

.mainContent > h1 {
  font-size: 3rem;
  margin-right: 84%;
}

.mainContent > p {
  margin-right: 76%;
  font-weight: unset;
}

.mainContent > button {
  height: 50px;
  width: 100px;
  font-size: 1em;
  font-weight: bold;
  margin-top: 3%;
}

.navIcon {
  height: 90%;
}

.navIcon > img {
  display: block;
  max-height: 100%;
}

.navContainer, .mainContainer {
  background-color: #1F2535;
}

.footer {
  display: flex;
  margin-top: 10%;
}

.footer > div {
  margin-left: 6%;
}

.footer > div > h3 {
  margin-left: 6%;
}

.footer > div > p {
  margin-left: 6%;
  padding-right: 54%;
}